* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  background-color: wheat;
  height: 10%;
  text-align: center;
  padding-top: 10px;
}
h1 {
  font-family: "Dancing Script", cursive;
  font-family: "Dosis", sans-serif;
  font-family: "Edu QLD Beginner", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px #ff0000;
  text-transform: uppercase;
}
.input-container {
  display: flex;
  justify-content: space-around;
}

  .form-box{
      display: flex;
      height: 100vh;
      align-items: center;
      justify-content: space-around;
  }
  form{
    -webkit-box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.75);
box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.75);
    padding: 2%;
  }